WS-JKN/ApiToJKN/Framework/trunk/Core.Framework.Helper/Service References/ServiceQueue/Medifirst.Antrian.Domain.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Medifirst.Antrian.Domain" elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/Medifirst.Antrian.Domain"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AntrianPasienRegistrasi_T">
    <xs:sequence>
      <xs:element minOccurs="0" name="KdAntrian" type="xs:int" />
      <xs:element minOccurs="0" name="KdDokterOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KdHistoryLoginD" type="xs:int" />
      <xs:element minOccurs="0" name="KdHistoryLoginI" type="xs:int" />
      <xs:element minOccurs="0" name="KdHistoryLoginS" type="xs:int" />
      <xs:element minOccurs="0" name="KdHistoryLoginU" type="xs:int" />
      <xs:element minOccurs="0" name="KdKelas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KdKelompokPasien" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="KdProfile" type="xs:short" />
      <xs:element minOccurs="0" name="KdRuangan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KeteranganOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoAntrian" type="xs:short" />
      <xs:element minOccurs="0" name="NoAntrianOrder" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="NoCM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoLoketCounter" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="NoRegistrasi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoReturOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusEnabled" type="xs:int" />
      <xs:element minOccurs="0" name="StatusPasien" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TglAntrian" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AntrianPasienRegistrasi_T" nillable="true" type="tns:AntrianPasienRegistrasi_T" />
</xs:schema>