WS-JKN/ApiToJKN/Framework/trunk/Core.Framework.Helper/Service References/ServiceQueue/Medifirst.Service.Queue.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Medifirst.Service.Queue" elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/Medifirst.Service.Queue"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="Message.TypeMessage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NewPasien" />
      <xs:enumeration value="UpdatePasien" />
      <xs:enumeration value="CountingPasien" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Message.TypeMessage" nillable="true" type="tns:Message.TypeMessage" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="tns:Message.TypeMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
</xs:schema>