Core.Framework.Helper/Service References/ServiceQueue/service.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceQueue"
                  targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceQueue_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Medifirst.Service.Queue" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Medifirst.Antrian.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceQueue_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IServiceQueue_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQueue_Send_InputMessage">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="IServiceQueue_Send_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQueue_UnSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribe" />
  </wsdl:message>
  <wsdl:message name="IServiceQueue_UnSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQueue_GetListSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListSubscribe" />
  </wsdl:message>
  <wsdl:message name="IServiceQueue_GetListSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQueue_GetLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLog" />
  </wsdl:message>
  <wsdl:message name="IServiceQueue_GetLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQueue_RegistrasiPasien_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrasiPasien" />
  </wsdl:message>
  <wsdl:message name="IServiceQueue_RegistrasiPasien_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrasiPasienResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQueue_ReceiveMessaged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveMessaged" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IServiceQueue">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQueue/Subscribe"
                  message="tns:IServiceQueue_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQueue/SubscribeResponse"
                   message="tns:IServiceQueue_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Send">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQueue/Send" message="tns:IServiceQueue_Send_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQueue/SendResponse"
                   message="tns:IServiceQueue_Send_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UnSubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQueue/UnSubscribe"
                  message="tns:IServiceQueue_UnSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQueue/UnSubscribeResponse"
                   message="tns:IServiceQueue_UnSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetListSubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQueue/GetListSubscribe"
                  message="tns:IServiceQueue_GetListSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQueue/GetListSubscribeResponse"
                   message="tns:IServiceQueue_GetListSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQueue/GetLog" message="tns:IServiceQueue_GetLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQueue/GetLogResponse"
                   message="tns:IServiceQueue_GetLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegistrasiPasien">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQueue/RegistrasiPasien"
                  message="tns:IServiceQueue_RegistrasiPasien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQueue/RegistrasiPasienResponse"
                   message="tns:IServiceQueue_RegistrasiPasien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveMessaged">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQueue/ReceiveMessaged"
                   message="tns:IServiceQueue_ReceiveMessaged_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceQueue" type="tns:IServiceQueue">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceQueue_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IServiceQueue/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send">
      <soap12:operation soapAction="http://tempuri.org/IServiceQueue/Send" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <soap12:operation soapAction="http://tempuri.org/IServiceQueue/UnSubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListSubscribe">
      <soap12:operation soapAction="http://tempuri.org/IServiceQueue/GetListSubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <soap12:operation soapAction="http://tempuri.org/IServiceQueue/GetLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrasiPasien">
      <soap12:operation soapAction="http://tempuri.org/IServiceQueue/RegistrasiPasien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveMessaged">
      <soap12:operation soapAction="http://tempuri.org/IServiceQueue/ReceiveMessaged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceQueue">
    <wsdl:port name="NetTcpBinding_IServiceQueue" binding="tns:NetTcpBinding_IServiceQueue">
      <soap12:address location="net.tcp://192.168.0.11:1002/Queue" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.0.11:1002/Queue</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>